<% @tasks.each do |task| %>
  <li>
    
    <a href="/tasks/<%= task.id %>/complete"><%= task.title %></a>

    <% if task.completed %>
      (Complete)
    <% end %>

    <% if task.users.any? %>
    Assigned to: <%= task.users.pluck(:name) %>

    <% else %>
    <form action="/assignments/<%= task.id %>/new ">
      <input type="submit" value="Assign">
    </form>
    <% end %>

    <form action="/tasks/<%= task.id %>/edit">
      <input type="submit" value="Edit">
    </form>
    
  </li>
<% end %> 